#certificate{
    padding: 70px 150px;
    /* padding-top: 50px; */
}
#certificate h2{
    font-size: 30px;
}
#listofcertificates{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 50px;
    /* overflow-x: scroll; */
}
#certificates{
    box-shadow: 3px 3px 3px var(--primary-color);
    height: 35vh;
    width: 23vw;
    border: 2px solid var(--primary-color);
    margin: 1%;
    padding: 1%;
    padding-top: 0%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s;
    background-color: var(--secondary-color);
}