.navbar{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0.625rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: fixed; */
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(0.388rem);
    -webkit-backdrop-filter: blur(60.388rem);
    position: sticky;
    top: 0;
    z-index: 3;
    height: 4rem;
    /* overflow: hidden;
    overflow-y: scroll; */
}
#nav-logo {
    font-size: 3.125rem;
}
#diff-color {
    color: var(--primary-color);
}
.menuitem{
    display: inline-block;
    list-style: none;
    margin: 0.625rem 1.25rem;
    font-size: 1.125rem;
    cursor: pointer;
    color: white;
    /* position: relative; */
}
/* #menulist:hover{
    color: yellow;
} */
#contactme{
    background-color: transparent;
    color: white;
    font-size: 1.125rem;
    border: 0.125rem solid var(--primary-color);
    /* background-color: #8000806a; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0.425rem 0.625rem; */
    padding: 0.425rem 0.625rem;
    border-radius: 1rem;
    /* width: 9.375rem; */
    /* width: 11.9rem; */
    width: 13vw;

    cursor: pointer;
}
#contactme:hover{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom:none ;
    background-color: var(--secondary-color);
}
#resume-options hr{
    width: 8vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#resume-options{
    position: absolute;
    top: 3.57rem;
    /* right: 2rem; */
    list-style: none;
    padding: 10px;
    background-color: var(--secondary-color);
    border: 0.125rem solid var(--primary-color);
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    width: 13vw;
}
#resume-options button{
    border: none;
    padding: 10px;
    position: relative;
}
#resume-options button:hover{
    /* left: 10px; */
    /* bottom: 5px; */
    /* text-shadow: 3px 3px #800080; */
    font-weight: bold;
}
#resume-options button a{
    color: white;
    font-size: large;
}
#contactme img{
    height: 1rem;
    width: 1rem;
}
.menuitem::after {
    display: block;
    content: '';
    border-bottom: solid 0.188rem purple;  
    transform: scaleX(0);  
    transition: transform 0.5s ease-in-out;
    /* for from center, keep both these commented */
    /* for left to right uncomment the below*/
    transform-origin:  0% 50%;
    /* for right to left uncomment the below*/
    /* transform-origin:  100% 50%; */
}
.menuitem:hover::after{
    transform: scaleX(1);
}